/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'font-awesome-sprockets';
@import "font-awesome";

// Background gradient
.navbar, .homeCallout {
    background: #090f39; 
    
}

// Homepage Styles
.homeCallout {
    color: white;
    margin-top: -20px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.navbar {
    border: none;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: white;
    &:hover {
        color: white;
        opacity: 0.75;
    }
}

.checkbox-well {
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  

.checkbox {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 200px;
    height: 50px;
    margin: 10px;
    
    line-height: 20px;
    color: black;
    font-weight: bold;
    text-align: center;
}